html{
  color: azure;
}

.title {
    color: aqua; font-weight: bold"
  }

  .title1{
    position: relative;
    color: blue;
  }

  body {
    color: black;
  }

  .hola{
    color: black;
  }